# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Django
*.log
db.sqlite3
/media/
*.pot

# Virtual Environment
venv/
env/

# Covarage
coverage/
.coverage
.coveragerc
coverage.xml

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db